/*.listing-item {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .listing-actions {
  }
}*/
/*
.listing-actions {
  float: right !important;
}

.listing-item {
  .input-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
*/
ion-icon {
  cursor: pointer;
}

.input-wrapper {
  justify-content: space-between !important;
}

.anime-small-title {
  font-size: 12px;
  text-align: left;
  width: 100%;
  padding: 0;
}